---
import { getCollection } from "astro:content";
import Layout from "../layouts/layout.astro";
const allPosts = await getCollection("blog");

const sortedPosts = allPosts.sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);

const recentPosts = sortedPosts.slice(0, 3);
---

<Layout title="Simply Minimal Blog">
  <main>
    <h2>Recent Posts</h2>
    <a href="/blog">Post List ►</a>
    <p aria-hidden="true">· · ──────── ·§· ──────── · ·</p>
    <div role="list">
      {
        recentPosts.map((post, i) => (
          <div role="listitem">
            <h3>❊ {post.data.title}</h3>
            <p>{post.data.description}</p>
            <a href={`/posts/${post.slug}`}>Read more</a>
            {i !== recentPosts.length - 1 && (
              <p aria-hidden="true">· · ──────── ·§· ──────── · ·</p>
            )}
          </div>
        ))
      }
    </div>
  </main>
  <hr />
  <aside>
    <h2>Why Minimalism?</h2>
    <p>
      Minimalism isn't just an aesthetic choice; it's a way of thinking. It's
      about focusing on what truly matters and letting go of everything else. By
      embracing minimalism, we can create spaces, digital and physical, that are
      not only more beautiful but also more functional and intentional.
    </p>
    <h3>What You'll Find Here</h3>
    <ul>
      <li>
        <p>
          <strong>Design Principles:</strong> Discover how less truly is more when
          it comes to web and graphic design. Learn how to create clean, effective
          designs that communicate your message without clutter.
        </p>
      </li>
      <li>
        <p>
          <strong>Lifestyle Tips:</strong> Explore practical advice on living a minimalist
          lifestyle, from decluttering your home to simplifying your daily routines.
        </p>
      </li>
      <li>
        <p>
          <strong>Tech & Tools:</strong> Get insights into the tools and technologies
          that can help you streamline your digital life, from minimalist apps to
          efficient coding practices.
        </p>
      </li>
      <li>
        <p>
          <strong>Philosophical Musings:</strong> Dive into thought-provoking articles
          that explore the deeper meaning of minimalism and how it can lead to a
          more fulfilling life.
        </p>
      </li>
    </ul>
    <h3>Join the Journey</h3>
    <p>
      Whether you're a seasoned minimalist or just curious about simplifying
      your life, <em>Simply Minimal</em> is here to inspire, educate, and motivate.
      Together, we can cut through the noise and focus on what truly matters.
    </p>
  </aside>
</Layout>
